.search-contact {
    margin-bottom: 32px;
}

.carousel-tabs button {
    font-size: 20px;
}

.carousel-heading {
    height: 70px;
}

li.product h2 {
    margin-bottom: 20px;
}

a.woocommerce-LoopProduct-link {
    padding: 32px 20px 32px;
}

li.product .prod-card-footer .button {
    margin-top: 24px;
}

#header {
    padding: 24px 30px;
}

.owl-carousel li.product {
    padding: 0 0 24px;
}

.prod-carousel {
    min-height: 392px;
}

div#container {
    margin-bottom: 32px;
    padding: 0 30px;
}

section#testimonials {
    padding: 32px 0;
}

.testy-heading h2 {
    margin-bottom: 32px;
}

footer#footer {
    padding: 44px 30px 26px;
}

.woocommerce ul.products li.product a img, li.product a img {
    max-height: 100px;
    max-width: 180px;
    margin: 0 auto;
}

.woocommerce .woocommerce-breadcrumb {
    margin: 14px 0 32px;
    font-size: 18px;
}

#header .menu-item a {
    font-size: 15px;
}

#menu-primary-container {
    padding-right: 3em;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, li.product {
    /* width: 29.6%; */
    /* margin-right: auto; */
    min-width: 230px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 28%;
    flex: 0 1 29.3%;
}

.woocommerce .products ul, .woocommerce ul.products {
    /* justify-content: space-between; */
}

body.page-template-default #header, body.page-template-contacts #header {
    padding-bottom: 56px;
}

.woocommerce .woocommerce-breadcrumb svg {
    margin: 0 16px;
}

.single-product .product {
    padding: 32px 48px 10px;
}

div#customer_details {
    margin-bottom: 0;
}

body.page-template-default.woocommerce-account #header {
    padding-bottom: 56px;
}

.woocommerce form.edit-account .form-row {
    margin-bottom: 16px;
}

.edit-account .woocommerce-Button.button {
    margin-top: 30px;
}

.woocommerce span.onsale {
    width: 28px;
    margin: 8px 0 0 auto;
}

.slider-shortcode {
    margin-bottom: 32px;
}

div#items-count {
    /* padding-right: calc(16% - 64px ); */
}

h1 {
    font-size: 43px;
}

body.home .entry-content {
    margin-top: 2px;
}